.Header {
    width: 100%;
    height: 60px;
    background-color: #cc0000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
}

.DivHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
}

.DivHeader h2 {
    margin: 0;
    padding: 0;
    color: #f2f20d;
    text-shadow: 0 0 10px #f2f20d;   
}

.NavHeader {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 40%;
}

.LinkHeader {
    text-decoration: none;
    /* color: black; */
    /* color: #f2f20d; */
    color: whitesmoke;
    margin-right: 15px;
}

.Cart {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    /* background-color: #006600; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.I {
    font-size: 18px;
    color: whitesmoke;
    margin-left: 6px;
}

.CartShop {
    width: 18px;
    height: 18px;
    position: relative;
    border-radius: 50%;
    /* background-color: #f2f20d; */
    background-color: #006600;
    color: #f2f20d;
    font-size: 10px;
    line-height: 18px;
    text-align: center;
    top: -14px;
}
