.Header {
    width: 100%;
    height: 60px;
    background-color: #cc0000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
}

.DivHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
}

.DivHeader h2 {
    margin: 0;
    padding: 0;
    color: #f2f20d;
    text-shadow: 0 0 10px #f2f20d;   
}

.NavHeader {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 40%;
}

.LinkHeader {
    text-decoration: none;
    color: black;
    margin-right: 10px;
}
